*{font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;}
html,body,.container{margin:0;padding:0;height:100%;}
.container{background:transparent;}
.controls{}
.controls a{display:block;margin:0 10px;padding:5px 10px;color:#fff;text-decoration:none;font-weight:700;}
.controls a:before{content:"\f10c   ";font-family:'FontAwesome';}
.controls a.clicked:before{content:"\f192   ";font-family:'FontAwesome';}
.info{display:block;}
.info > div{margin-bottom:10px;float:left;clear:both;width:100%;border-bottom:1px solid #777;}
.info > div:nth-child(2){border-top:1px solid #777;padding-top:10px;}
.info img{display:inline-block;float:left;clear:left;margin:0 10px 10px 20px;max-width:30px;max-height:30px;border-radius:100px;vertical-align:middle;}
.info p,.info small{display:block;float:left;margin:10px 10px 10px 0;line-height:10px;text-transform:capitalize;}
.info small{float:right;text-transform:uppercase;font-weight:700;margin-right:50px;}
.info h3,.controls h3{margin-left:20px;color:#222;margin-bottom:10px;}
.leaflet-popup-content img{display:block;margin:0 auto;max-width:100px;max-height:100px;border-radius:100px;}
.leaflet-popup-content p{display:block;min-width:100px;text-align:center;text-transform:capitalize;}
.leaflet-popup-content h2{text-align:center;text-transform:capitalize;}
.sidebar{color:#fff;position:absolute;right:0;top:0;width:300px;background:#666564;height:100%;overflow:hidden;}